# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/

# local env files (秘密鍵を守る)
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ★今回のために追加（巨大PDFフォルダを無視）★
pdf_storage/